.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
.idea
*.iml
rebar3.crashdump
*~

_build

/src/helloworld_greeter_bhvr.erl
/src/helloworld_greeter_client.erl
/src/helloworld_pb.erl
