[{sasl, [{utc_log, true}
        ]}

,{grpcbox, [{servers, [#{grpc_opts => #{service_protos => [helloworld_pb
                                                          ]
                                       ,services => #{'helloworld.Greeter' => egb_handler
                                                     }
                                       }
                        ,transport_opts => #{ssl => false}
                        ,listen_opts => #{port => 50051
                                         ,ip => {0,0,0,0}
                                         }
                        }]}
           ]}

].
