{erl_opts,[debug_info]}.
{post_hooks,[]}.
{deps,[]}.
{shell,[{apps,[accept]}]}.
{cover_enabled,true}.
{cover_export_enabled,true}.
{cover_excl_mods,[]}.
{coveralls_coverdata,"_build/test/cover/eunit.coverdata"}.
{coveralls_service_name,"travis-ci"}.
{xref_extra_paths,[]}.
{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,deprecated_functions]}.
{profiles,
    [{docs,
         [{deps,[{edown,"0.8.1"}]},
          {edoc_opts,
              [{doclet,edown_doclet},
               {dir,"doc"},
               {subpackages,true},
               {overview,"doc/overview.md"},
               {top_level_readme,
                   {"./README.md",
                    "https://github.com/deadtrickster/accept"}}]}]},
     {test,[{plugins,[{coveralls,"1.4.0"},{rebar3_elvis_plugin,"0.0.4"}]}]}]}.
{plugins,[{rebar3_archive_plugin,"0.0.2"}]}.
{overrides,[]}.
