{profiles, [{prod, [{relx, [{dev_mode, false}
                           ,{include_erts, true}
                           ,{include_src, false}
                           ]}
                   ]}
           ]}.

{erl_opts, [debug_info
           ,warnings_as_errors
           ,warn_unused_vars
           ,{i, "src"}
           ]}.

{deps, [grpcbox
       ,flatlog
       ]}.

{grpc, [{protos, "../proto/helloworld"}
       ,{gpb_opts, [{module_name_suffix, "_pb"}
                   ,strings_as_binaries
                   ,type_specs
                   ,{verify, always}
                   ,report
                   ]}
       ]}.

{plugins, [grpcbox_plugin
          ,rebar3_fmt
          ]}.

{shell, [{apps, [erlang_grpcbox_bench]}
        ,{config, "config/sys.config"}
        ]}.

{relx, [{release, {erlang_grpcbox_bench, "1.0.0"}, [erlang_grpcbox_bench]}
       ,{dev_mode, true}
       ,{include_erts, false}
        %% ,{vm_args,    "config/vm.args"}
       ,{sys_config, "config/sys.config"}
       ]}.

{xref_checks, [undefined_function_calls
              ,undefined_functions
               %% ,exports_not_used
              ,locals_not_used
              ,deprecated_function_calls
              ,deprecated_functions
              ]}.
{xref_ignores, [helloworld_pb
               ]}.
