[{sasl, [{utc_log, true}
        ]}

,{grpcbox, [{servers, [#{grpc_opts => #{service_protos => [helloworld_pb
                                                          ]
                                       ,services => #{'helloworld.Greeter' => egb_handler
                                                     }
                                       }
                        ,transport_opts => #{ssl => false}
                        ,listen_opts => #{port => 50051
                                         ,ip => {0,0,0,0}
                                         }
                        }]}
           ]}

,{kernel, [{logger_level, debug}
          ,{logger, [{handler, default, logger_std_h, #{formatter => {flatlog, #{map_depth => 3
                                                                                ,term_depth => 50
                                                                                ,colored => true
                                                                                }}
                                                       }}
                    ]}
          ]}

].
